<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    </body>
    <!--Footer -->
    <footer class="footer fixed-bottom navbar-expand-lg bg-dark navbar-dark ">
        <ul class="nav justify-content-center border-bottom pb-1 mb-1">
            <li class="nav justify-content-center pb-1 mb-1 ">
                <a class="nav-link px-2 text-light " href="{% url 'djangoapp:about' %}">About Us</a>
                <a class="nav-link px-2 text-light" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            <li>
        </ul>
        <p class="text-center text-light">© 2024 Best Cars dealership</p>
    </footer>
</html>